html {
	height:100%;
}

body {
	height:100%;
}

/* ******************************** */
/*				 FONT			    */
/* ******************************** */

@font-face {
    font-family: 'Akkurat';
    src: url('../font/AKKURAT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat_Bold';
    src: url('../font/AKKURATB.ttf');
    font-weight: bold;
    font-style: bold;
}

/* ******************************** */
/*				 TITRE			    */
/* ******************************** */

h1 {
	font-family: 'Akkurat_Bold';
	font-size: 18px;
	color: #2E2E2E;
	text-transform: uppercase;
	margin: 1.5em;
}

h2 {
	font-family: 'Akkurat_Bold';
	font-size: 16px;
	color: #009EE0;	
	text-transform: uppercase;
	margin-bottom: 1em;
}

h3 {
	font-family: 'Akkurat_Bold';
	font-size: 14px;
	color: #009EE0;	
	text-transform: uppercase;
	margin-bottom: 1em;
}

h1 > small {
	font-family: 'Akkurat_Bold';
	font-size: 16px;
	color: #009EE0;	
}

/* ******************************** */
/*				 BLOC			    */
/* ******************************** */

.calendrier, .image, .music, .video, .whoweare, .contact  {
	/*background-color: #EFF8FD;*/
	font-family: 'Akkurat';
	font-size: 13px;
	color: #2E2E2E;
	margin:1em;
	padding:0.2em;
}

/*.whoweare {
	width: 98%;
	height:20%;
	overflow: auto;
	position: absolute;
}

.calendrier, .contact {
	width:98%;
	height:30%;
	overflow: auto;
	position: absolute;
}

.calendrier {
	top:30%;
}

.contact {
	top: 100%;
}

.image, .music, .video {
	top:65%;
}*/

.image {
	width:30%;
	overflow: auto;
	/*position: absolute;*/
	left:0%;
	float:left;
}

.music {
	width:30%;
	overflow: auto;
	/*position: absolute;*/
	left:34%;
	float: left;
}

.video {
	width:30%;
	overflow: auto;
	/*position: absolute;*/
	left:68%;
	float:left;
}

table {
	width:100%;
}

table td {
	border:1px solid #E6E6E6;
	padding:0.5em;
}

.btn-style{
	cursor : pointer;
	border : solid 1px #e6e6e6;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 13px;
	color : #696869;
	padding : 1px 10px;
	margin:2px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(49%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background : -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	background : linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #e1e1e1 51%, #f6f6f6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}

.deco {
	position:absolute;
	right:1em;
	top:1em;
}

/*.add {
	width:98%;
	position:absolute;
	bottom:1em;
}*/

p {
	font-family: 'Akkurat';
	margin: 1.5em;
}

a {
	text-decoration:none;
	color : #696869;
}

form {
	padding:1.5em;
}

label {
	font-family: 'Akkurat';
}

input {
	margin-bottom:1em;
}

form#insert input[type="text"] {
	width:500px;
}

form#insert input, form#update input{
	margin-bottom:1em;
	margin-left:1em;
	width:500px;
}

form#insert label {
	font-family: 'Akkurat';
	font-size: 13px;
	margin-left:1em;
}

/* ******************************** */
/*				SESSION			    */
/* ******************************** */

body.session {
	margin: auto;
	padding: 0;
	left:0;
	right:0;
	text-align:center;
	font-family: 'Akkurat';
}

p.accueil {
	margin-top: 3em;
}