html{
	font-size: 62.5%; /* 10px */
}

body {
	margin-left: auto;
	margin-right: auto;
	font-size:1em;
	line-height: 1rem;
}

/* ******************************** */
/*				 FONT			    */
/* ******************************** */

@font-face {
    font-family: 'Akkurat';
    src: url('../font/AKKURAT.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat_Light';
    src: url('../font/AKKURATL.ttf');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat_Bold';
    src: url('../font/AKKURATB.ttf');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Akkurat_Italic';
    src: url('../font/AKKURATI.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akkurat_Bold_Italic';
    src: url('../font/AKKURATLI.ttf');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Akkurat_Bold_Italic';
    src: url('../font/AKKURATBI.ttf');
    font-weight: bold;
    font-style: italic;
}

/* ******************************** */
/*    Tablette portrait : 768px     */
/* ******************************** */

@media screen and (min-width:768px) {

    html {
        font-size:125%; /* 20px */
        height: 100%;
    }

    body {
        background: url('../img/background.png') no-repeat center fixed; 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
        height: 100%
    }

    img.logo {
        position:absolute;
        padding:0;
        margin: auto;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 12%;
    }

    /* menu navigation */

    nav {
    	position:absolute;
    	width: 10em; 
    	height:8em; 
        padding:0;
        margin: auto;
        top: 0;
        bottom:0; 
        left: 55%; 
        line-height: 2em;
        text-transform: uppercase;

    }

    ul.menu {
        list-style-type: none;
    }

    .menu a {
        font-family: 'Akkurat_Bold'; 
        font-size: 16px;
        text-decoration:none;
        color:white;
    }

    .menu a:visited {
        font-family: 'Akkurat_Bold'; 
        font-size: 24px;   
    }

    .menu a:hover {
        font-family: 'Akkurat_Bold'; 
        font-size: 24px;
    }

    .menu a:active {
        font-family: 'Akkurat_Bold'; 
        font-size: 24px;   
    }

    .active {
        font-family: 'Akkurat_Bold'; 
        font-size: 24px;       
    }

    /* commun */

    div.tabs-hide {
        display:none;
    }

    .who, .calendrier {
        background-color: #009EE0;
        opacity:0.8;
        color:#FFFFFF;
    }

    .who, .calendrier, .images-sons {
        width:300px;
    }

    .who, .calendrier, .contact {
    	position:absolute;
    	left:72%;
    	padding: 1em 0.4em 1em 0.4em;
    }

    .who, .calendrier {
    	top:20%;
    }

    p {
        font-family: 'Akkurat'; 
        font-size: 12px;
        padding-bottom:1em;
        line-height: 1em;
    }

    /* contact */

    .contact {
        background: url('../img/contact.png') no-repeat; 
          -webkit-background-size: 220px 168px; /* pour Chrome et Safari */
          -moz-background-size: 220px 168px; /* pour Firefox */
          -o-background-size: 220px 168px; /* pour Opera */
          background-size: 220px 168px; /* version standardisée */
        width: 152px; 
        height: 156px;
        line-height: 0.8em;
        padding:0;
        margin: auto;
        top: 40%;
        bottom:0; 
        color:white;
        padding:1em 1em 0.5em 0.5em;
        /*border-bottom: 60px solid transparent;
        border-right: 60px solid #009EE0;*/
    }

    /*.contact:after {
        content:'';
        width:1px;
        height:100px;
        border:1px solid #069;
        border-color: transparent #069 transparent #069;
        border-width:100px;
        position: absolute;
        left:-168px;
    }*/

    ul.nom {
        font-family: 'Akkurat';
        font-size: 12px;
        padding-bottom: 2em;
    }

    ul.adresse {
        font-family: 'Akkurat';
        font-size: 12px;        
    }

    strong {
       font-family: 'Akkurat_Bold'; 
    }

    /* who we are*/

    .who h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 16px;
        padding-top:1em;
    }

    ul.groupe {
        font-family: 'Akkurat'; 
        font-size: 12px;    	
    }

    /* images & sons */

    .images-sons {
        position:absolute;
        left:72%;
        background-color:#EFF8FD;
        color: #009EE0;
        min-height: 100%;
        padding: 0em 0.4em 0em 0.4em;
    }

    .images-sons h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 14px;
        border-bottom: 1px dashed #009EE0;
        padding-top:1em;
    }

    p.info-video {
        font-family: 'Akkurat_Italic'; 
        font-size: 12px;
        padding-bottom:0;
    }

    p.player {
        font-family: 'Akkurat_Italic'; 
        font-size: 11px;
    }

    .images-sons a {
        font-family: 'Akkurat_Light'; 
        font-size: 11px;
        text-decoration: none;
        padding-bottom: 0;
        color:#009EE0;
    }

    .slide {
        /*margin-top: 1.4em;*/
    }

    /* calendrier */

    .calendrier h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 20px;
    }

    .calendrier h2 {
    	font-family: 'Akkurat_Bold'; 
    	font-size: 14px;
        padding-top:3em;
    }

    p.date {
        font-family: 'Akkurat_Bold'; 
        font-size: 14px;
        padding-bottom:0.2em;
        padding-top: 0.5em;
    }

    p.lieu {
        font-family: 'Akkurat_Italic'; 
        font-size: 11px;
        padding-bottom: 0.5em;
        border-bottom: 1px dashed white;
    }

    p.passe {
        color : #EFF8FD;
    }

    /* page image */

    .full-picture {
        position:absolute;
        background: url('../img/background-slider.png'); 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
        height: 100%;
        width:72%; 
        left:0; 
    }

    .full-picture img {
        float:right;
    }

    p.retour {
        font-family: 'Akkurat_Bold';
        font-weight: bold;
        position:absolute;
        right:6px;
        bottom:1px;
    }

    ul.test li {
        float:left;
        width:63px;
        height:63px;
    }
}


/* ******************************** */
/*      Tablette paysage : 795px    */
/* ******************************** */

@media screen and (min-height:795px) {

    html {
        font-size:125%;
    }

    body {
        background: url('../img/background.png') no-repeat center fixed; 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
    }

    img.logo {
        position:absolute;
        padding:0;
        margin: auto;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0;
    }
}