html{
	font-size: 62.5%; /* 10px */
}

body {
	margin-left: auto;
	margin-right: auto;
	font-size:1em;
	line-height: 1rem;
}

/* ******************************** */
/*				 FONT			    */
/* ******************************** */

@font-face {
    font-family: 'Akkurat';
    src: url('../font/AKKURAT.eot');
    src: url('../font/AKKURAT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat_Light';
    src: url('../font/AKKURATL.eot');
    src: url('../font/AKKURATL.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Akkurat_Bold';
    src: url('../font/AKKURATB.eot');
    src: url('../font/AKKURATB.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Akkurat_Italic';
    src: url('../font/AKKURATI.eot');
    src: url('../font/AKKURATI.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Akkurat_Light_Italic';
    src: url('../font/AKKURATLI.eot');
    src: url('../font/AKKURATLI.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'Akkurat_Bold_Italic';
    src: url('../font/AKKURABI.eot');
    src: url('../font/AKKURABI.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* ******************************** */
/*    Mobile First                  */
/* ******************************** */

.display {
    display:none;
}

.contact {
    font-family: 'Akkurat'; 
    font-size: 1em;   
    padding :1%; 
}

li strong {
    color:#009EE0;
}

img.image-mobile {
    position: absolute;
    width:100%;
    top:20%;
}

div.tabs-hide {
    display:none;
}

.who, .calendrier, .images-sons {
    position: absolute;
    top:60%;
}

ul.menu {
    position: absolute;
    top:50%;
    width:98%;
    list-style-type: none;
    text-transform: uppercase;
    text-align:right;
    line-height: 2em;
    padding:1%;
    }

ul.menu li {
    font-family: 'Akkurat_Bold'; 
    font-size: 1.5em;
    right:0;
    }

.menu a {
    color:#009EE0;
    text-decoration:none;
    text-align: right;
    }

/* who we are*/

.who h1 {
    font-family: 'Akkurat_Bold'; 
    font-size: 1.6em;
    line-height: 2em;
}

ul.groupe {
    font-family: 'Akkurat'; 
    font-size: 1.2em;  
    line-height: 1em;     
}

p {
    font-family: 'Akkurat'; 
    font-size: 1.2em;
    padding-bottom:1em;
    line-height: 1em;
    text-align: justify;
}

/* ******************************** */
/*    Tablette portrait : 768px     */
/* ******************************** */

@media screen and (min-width:768px) {

    html {
        font-size:125%; /* 20px */
        height: 100%;
    }

    body {
        background: url('../img/background.jpg') no-repeat center fixed; 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
        height: 100%
    }

    /* menu navigation */

    nav {
    	position:absolute;
    	width: 23em;
    	height:8em; 
        padding:0;
        margin: auto;
        top: 0;
        bottom:0; 
        left:0;
        right:0;
        line-height: 1.7em;
        text-transform: uppercase;

    }

    img.logo {
        float:left;
        position:absolute;
        padding:0;
        margin: auto;
        top: 0; 
        bottom: 0;
    }

    ul.menu {
        list-style-type: none;
        position:absolute;
        width:auto;
        left:62%;
        top:6%;
        text-align: left;
        padding:0;
        line-height: 1.7em;
    }

    ul.menu li {
        font-family: 'Akkurat_Bold'; 
        font-size: 0.8em; /*16px*/
    }

    .menu a {
        color:white;
        text-decoration:none;
    }

    ul.menu li.active {
        font-family: 'Akkurat_Bold'; 
        font-size: 1.2em;     /*24px*/  
    }

    /* commun */

    div.tabs-hide {
        display:none;
    }

    .who, .calendrier {
        background-color: rgba(0, 158, 224, 0.8);
        color:#FFFFFF;
        height:65%;
    }

    .who, .calendrier, .images-sons {
        width:15em; /*300px*/
    }

    .who, .calendrier, .contact {
    	position:absolute;
    	left:72%;
    	padding: 1em 0.4em 1em 0.4em;
    }

    .who, .calendrier {
    	top:25%;
        overflow:auto;
    }

    p {
        font-family: 'Akkurat'; 
        font-size: 0.6em; /*12px*/
        padding-bottom:1em;
        line-height: 1.2em;
        text-align: left;
    }

    a.lien-accueil {
        color:white;
        text-decoration: none;
    }

    a.lien-accueil:hover {
        text-decoration: underline;
    }

    /* contact */

    .contact {
        background: url('../img/contact.png') no-repeat; 
          -webkit-background-size: 220px 220px; /* pour Chrome et Safari */
          -moz-background-size: 220px 220px; /* pour Firefox */
          -o-background-size: 220px 220px; /* pour Opera */
          background-size: 220px 220px; /* version standardisée */
        width: 7.6em; /*152px*/ 
        height: 11em; /*220px*/
        line-height: 0.8em;
        padding:0;
        margin: auto;
        top: 54%;
        bottom:0; 
        color:white;
        padding:0.9em 0.9em 0em 0.5em;
        /*border-bottom: 60px solid transparent;
        border-right: 60px solid #009EE0;*/
    }

    ul.nom {
        font-family: 'Akkurat';
        font-size: 0.6em; /*12px*/
        padding-bottom: 1.3em;
    }

    ul.adresse {
        font-family: 'Akkurat';
        font-size: 0.6em;        
    }

    ul.adresse strong {
       font-family: 'Akkurat_Bold'; 
       color: white;
    }

    a.mail {
        text-decoration: underline;
        color:white;
    }

    /* who we are*/

    .who h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 0.8em; /*16px*/
        padding-top:0.1em;
    }

    ul.groupe {
        font-family: 'Akkurat'; 
        font-size: 0.6em; /*12px*/  
        line-height: 1.2em;  	
    }

    /* images & sons */

    .images-sons {
        position:absolute;
        top:0;
        left:72%;
        background-color:#EFF8FD;
        color: #009EE0;
        min-height: 100%;
        padding: 0em 0.4em 0em 0.4em;
    }

    .images-sons h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 0.7em; /*14px*/
        border-bottom: 1px dashed #009EE0;
        padding-top:1em;
    }

    p.info-video {
        font-family: 'Akkurat_Bold_Italic'; 
        font-size: 0.6em; 
        padding-bottom:0;
        line-height: 0.8em;
    }

    /*p.info-video::before {
        content : 'ˍˍˍ';
        position:absolute;
        margin-top:-1.2em;
    }*/

    p.player {
        font-family: 'Akkurat_Italic'; 
        font-size: 0.550em; /*11px*/
    }

    span.title {
        padding-left:0.5em;
    }

    .images-sons a {
        font-family: 'Akkurat_Light'; 
        font-size: 0.550em;
        text-decoration: none;
        padding-bottom: 0;
        color:#009EE0;
    }

    .gallery, .listing-video, ul.playlist {
        padding-top:0.5em;
        padding-bottom:0.5em;
    }

    .slide a{
        float:left;
        padding-left:0.8em;
        padding-bottom: 0.3em;
    }

    /* calendrier */

    .calendrier h1 {
        font-family: 'Akkurat_Bold'; 
        font-size: 1em;
        margin-bottom: 1em;
    }

    .calendrier h1::after {
        content : 'ˍˍˍ';
        position:absolute;
        left:0.4em;
        margin-top:0.2em;
    }

    .calendrier h2 {
    	font-family: 'Akkurat_Bold'; 
    	font-size: 0.8em;
        padding-top:3em;
        margin-bottom: 0.2em;
    }

    .calendrier h2::after {
        content : 'ˍˍˍ';
        position:absolute;
        left:0.4em;
        margin-top:0.3em;
    }

    p.date {
        font-family: 'Akkurat_Bold'; 
        font-size: 0.7em;
        padding-bottom:0.1em;
        padding-top: 0.5em;
    }

    p.lieu {
        font-family: 'Akkurat_Italic'; 
        font-size: 0.57em;
        padding-bottom: 0.5em;
        border-bottom: 1px dashed white;
    }

    p.passe {
        opacity:0.6;
    }

    /* page image */

    .full-picture {
        position:absolute;
        background: url('../img/background-slider.png'); 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
        height: 100%;
        width:72%; 
        left:0; 
    }

    .full-picture img {
        float:right;
    }

    p.retour {
        font-family: 'Akkurat_Bold';
        font-weight: bold;
        font-size:1em;
        position:absolute;
        right:6px;
        bottom:1px;
    }

    a.nav-full-picture {
        text-decoration: none;
        color:#009EE0;
        font-size: 2em;
        position:absolute;
        left:95%;
        top:50%;
    }
}


/* ******************************** */
/*      Tablette paysage : 795px    */
/* ******************************** */

@media screen and (min-height:795px) {

    html {
        font-size:125%;
    }

    body {
        background: url('../img/background.jpg') no-repeat center fixed; 
          -webkit-background-size: cover; /* pour Chrome et Safari */
          -moz-background-size: cover; /* pour Firefox */
          -o-background-size: cover; /* pour Opera */
          background-size: cover; /* version standardisée */
    }

    /*img.logo {
        position:absolute;
        padding:0;
        margin: auto;
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0;
    }*/
}